
<body ng-controller="DetallePedidoController">

    <div id="wrapper">


        <section class="header_text sub">
            <img class="pageBanner" src="themes/images/pageBanner.png" alt="Productos">
            <h4><span>Detalle del Pedido</span></h4>
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span9">
                    <h4 class="title"><span class="text">Pedido # <strong>@ViewBag.pedidoId</strong></span></h4>
                    <div style="overflow-y:auto!important;overflow-x:auto;height:600px!important">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                   
                                    <th>Imagen</th>
                                    <th>Nombre del Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio Unitario</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr ng-repeat="item in pedido track by $index">
                                  
                                    <td><a href="/Productos/Details/{{item.prodid}}"><img width="50" alt="" src="~/Content/themes/images/ladies/{{item.foto}}"></a></td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.cantidad}}</td>
                                    <td>S/. {{item.precio}} </td>
                                    <td>S/. {{item.cantidad * item.precio}}</td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <p class="cart-total right">
                        <strong>Sub-Total</strong>:S/. {{total()}}<br>
                        <strong>Impuesto (0.00)</strong>: S/. 0.00<br>
                        <strong>Reparto (0.00)</strong>: S/0.00<br>
                        <strong>Total</strong>: S/. {{total()}}<br>
                    </p>
                    <hr />
                    <p class="buttons pull-right">
                        <!-- <button class="btn" type="button">Continue</button>-->
                        <button ng-disabled="cart.length<=0" ng-click="Modal('id01',true)" class="btn btn-inverse" type="submit">Procesar Pedido</button>
                    </p>
                </div>
                <div style="padding-top:18px" class="span3 col">

                    <div class="block">
                        <h4 class="title">
                            <span class="pull-left"><span class="text">Randomize</span></span>

                        </h4>
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="/Productos/Details/{{ramprod.id}}"><img alt="" src="~/Content/themes/images/ladies/{{ramprod.foto}}"></a><br />
                                                <a href="/Productos/Details/{{ramprod.id}}" class="title">{{ramprod.nombre}}</a><br />
                                                <a href="" class="category">{{ramprod.category}}</a>
                                                <p class="price">S/. {{ramprod.precio}}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">

                <div class="w3-container">
                    <span ng-click="Modal('id01',false)" class="w3-button w3-display-topright">&times;</span>
                    <h2>Procesar Pedido</h2>
                    <p>Desea Procesar su Pedido?</p>
                    <p class="cart-total left">
                        <strong>Sub-Total</strong>:S/. {{total()}}<br>
                        <strong>Impuesto (0.00)</strong>: S/. 0.00<br>
                        <strong>Reparto (0.00)</strong>: S/0.00<br>
                        <strong>Total</strong>: S/. {{total()}}<br>
                    </p>
                   
                </div>
            </div>
        </div>


    </div>
   
    <script>
        var pedido = JSON.parse('@Html.Raw(ViewBag.pedido)');
			var categorys = JSON.parse('@Html.Raw(ViewBag.categorys)');
    </script>
</body>